__pycache__/
*.py[cod]
.pytest_cache/
.coverage
resources/*
!resources/.gitkeep
*.gba
*.gb
*.gbc
*.nds
*.nes
*.sav
*.srm
*.state*
decomp_reference/**/baserom.*
decomp_reference/**/*.gba
decomp_reference/**/*.gb
decomp_reference/**/*.gbc
decomp_reference/**/*.nds
decomp_reference/**/*.nes
